@model Projeto_biblioteca.Models.Editora

<h2>Cadastrar Editoras</h2>

<form asp-action="CriarEditora" method="post">

    @Html.AntiForgeryToken()

    <div>

        <label>Nome</label>

        <input asp-for="nome" required />

    </div>

    <button type="submit">Cadastrar</button>

</form>